# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SC2\reading-cloud-common\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
